<!-- modify -->

<!DOCTYPE html>
<html lang="en" style="background: #555;">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style media="screen,print">
    img {
      width: 100%;
      height: 500px;
    }

    .up {
      transform: rotate(-180deg);
      -webkit-transform: rotate(-180deg);
    }

    .tempswitch {
      clear: both;
      overflow: hidden;
      padding: 17px 2px !important;
      font-weight: 400;
    }

    .page-break {
      page-break-inside: avoid ! important;
      page-break-before: avoid !important;
      page-break-after: avoid !important;
      position: relative;
    }
  </style>
</head>

<body
  style="padding-top:30px;padding-bottom:30px;position: relative;width:900px;margin:0 auto; background:#fff; color:#000; font-size: 16px; line-height: 22px; font-family: 'Roboto Condensed', sans-serif;">
  <div
    style=" background-color: #f4f5f5; width:100%;margin: 30px auto;  padding:30px;position:relative;left:0px;max-width: 750px;">
    <div id="bd-main-area" style="border-collapse:collapse;position: relative;display: block;">
      <div class="title-area" style="padding-bottom: 10px; border-bottom: 14px solid #2c3336;">

        <h2 class="maintitle"
          style="margin-top: 40px; margin-bottom: 0; font-size: 42px; font-style: italic; font-weight: 700; color: #2c3336;">
          <%= data.build_title %>
        </h2>

        <h4 class="subtitle "
          style="margin-top: 10px; margin-bottom: 0; font-size: 18px; font-style: italic; color: #2c3336;">
          <%= data.build_sub_title %>
        </h4>
      </div>

    </div>

    <% for(var x=0; x < data.sycu_build_elements_details.length; x++) { %>
      <%# For big idea and bible %>
        <% if(data.sycu_build_elements_details[x].build_elements_id==16){ %>
          <div class="big-idea-wrap"
            style="height:auto; min-height: 100px;margin-top: 36px; margin-bottom: 36px; display: table; width: 100%;">
            <div class="big-idea" style="display: table-cell;width: 50%; padding: 0 10px 0 0; text-align: center;"
              width="50">
              <div class="big-idea-inner"
                style="height:auto;min-height: 100px;padding: 25px;background-color: #e6e6e6;">
                <div
                  style="font-size: 28px; text-align: center; display: block; color: #2c3336; font-weight: 700; font-style: italic; margin-bottom: 30px; ">
                  <%= data.sycu_build_elements_details[x].title %>
                </div>
                <p
                  style="overflow: visible;height:auto;min-height: 76px;margin: 0; color: #3c4247; line-height: 16px; font-size: 14px;">
                  <%- data.sycu_build_elements_details[x].content %>
                </p>
              </div>
            </div>


            <div class="big-idea" style=" display: table-cell; width:50%;padding: 0 0 0 10px; text-align: center;"
              width="50">
              <div class="big-idea-inner"
                style="height:auto;background-color: #e6e6e6;min-height: 100px;padding: 25px;">
                <div
                  style="font-size: 28px; text-align: center; display: block; color: #2c3336; font-weight: 700; font-style: italic; margin-bottom: 30px; ">
                  <%= data.sycu_build_elements_details[x].extra_title %>
                </div>
                <p
                  style="height:auto;min-height: 76px;overflow: visible;margin: 0; color: #3c4247; line-height: 16px; font-size: 14px;">
                  <%- data.sycu_build_elements_details[x].extra_content %>
                </p>
              </div>
            </div>
          </div>

          <div class="big-idea-wrap"
              style="height:auto; min-height: 100px;margin-top: 18px; margin-bottom: 10px; display: table; width: 101.7%;">
              <div class="big-idea" style="display: table-cell;width: 50%; padding: 0 10px 0 0; text-align: center;"
                width="50">
                <div class="big-idea-inner" id="bigIdea"
                  style="height:auto;min-height: 100px;padding: 25px;background-color: #e6e6e6;">
                  <div
                    style="font-size: 28px; text-align: center; display: block; color: #2c3336; font-weight: 700; font-style: italic; margin-bottom: 30px; ">
                    <%= data.sycu_build_elements_details[x].extra_title_1 %>
                  </div>
                  <p style="height:auto;min-height: 16px;overflow: visible;margin: 0; color: #3c4247; line-height: 16px; font-size: 14px;word-break: break-all;">
                    <%= data.sycu_build_elements_details[x].extra_content_1 %>
                  </p>
                </div>
              </div>
            </div>

          <%# For Scripture %>
            <% }else if(data.sycu_build_elements_details[x].build_elements_id==2) { %>
              <div class="box"
                style=" padding: 20px;margin-top:10px;background-color: #fff; border-left: 22px solid #c52026;margin-bottom: 5px;">
                <div class="" style="width:100%;">
                  <div class="box-title"
                    style="color: #2c3336; font-size: 18px; font-weight: 700; display: inline-block;">
                    <%= data.sycu_build_elements_details[x].title %>
                  </div>
                  <div class="" style=" display: inline-block;float:right;">

                  </div>
                </div>
                <p>
                  <%- data.sycu_build_elements_details[x].content %>
                </p>
              </div>


              <%# For Talk %>
                <% }else if(data.sycu_build_elements_details[x].build_elements_id==1) { %>
                  <div class="box"
                    style=" padding: 20px;margin-top:10px;background-color: #fff; border-left: 22px solid rgb(234, 234, 234);margin-bottom: 5px;">
                    <div class="" style="width:100%;">
                      <div class="box-title"
                        style="color: #2c3336; font-size: 18px; font-weight: 700; display: inline-block;">
                        <%= data.sycu_build_elements_details[x].title %>
                      </div>
                      <div class="" style=" display: inline-block;float:right;">

                      </div>
                    </div>
                    <p>
                      <%- data.sycu_build_elements_details[x].content %>
                    </p>
                  </div>


                  <%# For Story %>
                    <% }else if(data.sycu_build_elements_details[x].build_elements_id==3) { %>
                      <div class="box"
                        style=" padding: 20px;margin-top:10px;background-color: #fff; border-left: 22px solid #32bdd4;margin-bottom: 5px;">
                        <div class="" style="width:100%;">
                          <div class="box-title"
                            style="color: #2c3336; font-size: 18px; font-weight: 700; display: inline-block;">
                            <%= data.sycu_build_elements_details[x].title %>
                          </div>
                          <div class="" style=" display: inline-block;float:right;">

                          </div>
                        </div>
                        <p>
                          <%- data.sycu_build_elements_details[x].content %>
                        </p>
                      </div>

                      <%# For Image %>
                        <% }else if(data.sycu_build_elements_details[x].build_elements_id==4) { %>
                          <div class="box"
                            style=" padding: 20px;margin-top:10px;background-color: #fff; border-left: 22px solid #a1cb3a;margin-bottom: 5px;">
                            <div class="" style="width:100%;">
                              <div class="box-title"
                                style="color: #2c3336; font-size: 18px; font-weight: 700; display: inline-block;">
                                <%= data.sycu_build_elements_details[x].title %>
                              </div>
                              <div class="" style=" display: inline-block;float:right;">

                              </div>
                            </div>
                            <img src="<%= data.sycu_build_elements_details[x].media_url %>" alt="Image">
                          </div>

                          <%# For Video %>
                            <% }else if(data.sycu_build_elements_details[x].build_elements_id==5) { %>
                              <div class="box"
                                style=" padding: 20px;margin-top:10px;background-color: #fff; border-left: 22px solid rgb(226, 222, 27);margin-bottom: 5px;">
                                <div class="" style="width:100%;">
                                  <div class="box-title"
                                    style="color: #2c3336;font-size: 18px; font-weight: 700; display: inline-block;">
                                    <%= data.sycu_build_elements_details[x].title %>
                                  </div>
                                  <div class="" style=" display: inline-block;float:right;">

                                  </div>
                                </div>
                                <h3 style="margin: 10px auto; display: table; text-align: center;">
                                  <a href="<%= data.sycu_build_elements_details[x].media_url %>" target="_blank"
                                    style="display: block; text-decoration: none; margin-bottom: 10px;"> Here is the
                                    video URL</a>
                                </h3>
                                <p>
                                  <%- data.sycu_build_elements_details[x].extra_content %>
                                </p>
                              </div>


                              <%# For Question %>
                                <% }else if(data.sycu_build_elements_details[x].build_elements_id==6) { %>
                                  <div class="box"
                                    style=" padding: 20px;margin-top:10px;background-color: #fff; border-left: 22px solid #3290ce ;margin-bottom: 5px;">
                                    <div class="" style="width:100%;">
                                      <div class="box-title"
                                        style="color: #2c3336; font-size: 18px; font-weight: 700; display: inline-block;">
                                        <%= data.sycu_build_elements_details[x].title %>
                                      </div>
                                      <div class="" style="display: inline-block;float:right;">

                                      </div>
                                    </div>
                                    <p>
                                      <%- data.sycu_build_elements_details[x].content %>
                                    </p>
                                  </div>


                                  <%# For Object Lesson %>
                                    <% }else if(data.sycu_build_elements_details[x].build_elements_id==7) { %>
                                      <div class="box"
                                        style=" padding: 20px;margin-top:10px;background-color: #fff; border-left: 22px solid #52b849;margin-bottom: 5px;">
                                        <div class="" style="width:100%;">
                                          <div class="box-title"
                                            style="color: #2c3336; font-size: 18px; font-weight: 700; display: inline-block;">
                                            <%= data.sycu_build_elements_details[x].title %>
                                          </div>
                                          <div class="" style=" display: inline-block;float:right;">

                                          </div>
                                        </div>
                                        <p>
                                          <%- data.sycu_build_elements_details[x].content %>
                                        </p>
                                      </div>


                                      <%# For Activity %>
                                        <% }else if(data.sycu_build_elements_details[x].build_elements_id==8) { %>
                                          <div class="box"
                                            style=" padding: 20px;margin-top:10px;background-color: #fff; border-left: 22px solid #4fc0a2;margin-bottom: 5px;">
                                            <div class="" style="width:100%;">
                                              <div class="box-title"
                                                style="color: #2c3336; font-size: 18px; font-weight: 700; display: inline-block;">
                                                <%= data.sycu_build_elements_details[x].title %>
                                              </div>
                                              <div class="" style=" display: inline-block;float:right;">

                                              </div>
                                            </div>
                                            <p>
                                              <%- data.sycu_build_elements_details[x].content %>
                                            </p>
                                          </div>


                                          <%# For Discussion %>
                                            <% }else if(data.sycu_build_elements_details[x].build_elements_id==9) { %>
                                              <div class="box"
                                                style=" padding: 20px;margin-top:10px;background-color: #fff; border-left: 22px solid #a2dae1;margin-bottom: 5px;">
                                                <div class="" style="width:100%;">
                                                  <div class="box-title"
                                                    style="color: #2c3336; font-size: 18px; font-weight: 700; display: inline-block;">
                                                    <%= data.sycu_build_elements_details[x].title %>
                                                  </div>
                                                  <div class="" style=" display: inline-block;float:right;">

                                                  </div>
                                                </div>
                                                <p>
                                                  <%- data.sycu_build_elements_details[x].content %>
                                                </p>
                                              </div>


                                              <%# For Prayer %>
                                                <% }else if(data.sycu_build_elements_details[x].build_elements_id==10) {
                                                  %>
                                                  <div class="box"
                                                    style=" padding: 20px;margin-top:10px;background-color: #fff; border-left: 22px solid #ec497f;margin-bottom: 5px;">
                                                    <div class="" style="width:100%;">
                                                      <div class="box-title"
                                                        style="color: #2c3336; font-size: 18px; font-weight: 700; display: inline-block;">
                                                        <%= data.sycu_build_elements_details[x].title %>
                                                      </div>
                                                      <div class="" style=" display: inline-block;float:right;">

                                                      </div>
                                                    </div>
                                                    <p>
                                                      <%- data.sycu_build_elements_details[x].content %>
                                                    </p>
                                                  </div>


                                                  <%# For Reflection %>
                                                    <% }else
                                                      if(data.sycu_build_elements_details[x].build_elements_id==11) { %>
                                                      <div class="box"
                                                        style=" padding: 20px;margin-top:10px;background-color: #fff; border-left: 22px solid #ad4e9d;margin-bottom: 5px;">
                                                        <div class="" style="width:100%;">
                                                          <div class="box-title"
                                                            style="color: #2c3336; font-size: 18px; font-weight: 700; display: inline-block;">
                                                            <%= data.sycu_build_elements_details[x].title %>
                                                          </div>
                                                          <div class="" style=" display: inline-block;float:right;">

                                                          </div>
                                                        </div>
                                                        <p>
                                                          <%- data.sycu_build_elements_details[x].content %>
                                                        </p>
                                                      </div>


                                                      <%# For Response %>
                                                        <% }else
                                                          if(data.sycu_build_elements_details[x].build_elements_id==12)
                                                          { %>
                                                          <div class="box"
                                                            style=" padding: 20px;margin-top:10px;background-color: #fff; border-left: 22px solid #5c479c;margin-bottom: 5px;">
                                                            <div class="" style="width:100%;">
                                                              <div class="box-title"
                                                                style="color: #2c3336; font-size: 18px; font-weight: 700; display: inline-block;">
                                                                <%= data.sycu_build_elements_details[x].title %>
                                                              </div>
                                                              <div class="" style=" display: inline-block;float:right;">

                                                              </div>
                                                            </div>
                                                            <p>
                                                              <%- data.sycu_build_elements_details[x].content %>
                                                            </p>
                                                          </div>


                                                          <%# For Music %>
                                                            <% }else
                                                              if(data.sycu_build_elements_details[x].build_elements_id==13)
                                                              { %>
                                                              <div class="box"
                                                                style=" padding: 20px;margin-top:10px;background-color: #fff; border-left: 22px solid #eaab20;margin-bottom: 5px;">
                                                                <div class="" style="width:100%;">
                                                                  <div class="box-title"
                                                                    style="color: #2c3336; font-size: 18px; font-weight: 700; display: inline-block;">
                                                                    <%= data.sycu_build_elements_details[x].title %>
                                                                  </div>
                                                                  <div class=""
                                                                    style=" display: inline-block;float:right;">

                                                                  </div>
                                                                </div>
                                                                <p>
                                                                  <%- data.sycu_build_elements_details[x].content %>
                                                                </p>
                                                              </div>


                                                              <%# For Poll %>
                                                                <% }else
                                                                  if(data.sycu_build_elements_details[x].build_elements_id==14)
                                                                  { %>
                                                                  <div class="box"
                                                                    style=" padding: 20px;margin-top:10px;background-color: #fff; border-left: 22px solid #d84826;margin-bottom: 5px;">
                                                                    <div class="" style="width:100%;">
                                                                      <div class="box-title"
                                                                        style="color: #2c3336; font-size: 18px; font-weight: 700; display: inline-block;">
                                                                        <%= data.sycu_build_elements_details[x].title %>
                                                                      </div>
                                                                      <div class=""
                                                                        style=" display: inline-block;float:right;">

                                                                      </div>
                                                                    </div>
                                                                    <p>
                                                                      <%- data.sycu_build_elements_details[x].content %>
                                                                    </p>
                                                                  </div>


                                                                  <%# For Header %>
                                                                    <% }else
                                                                      if(data.sycu_build_elements_details[x].build_elements_id==20)
                                                                      { %>
                                                                      <div class="boxheader"
                                                                        style="padding: 13px;background-color: #fff;margin: 24px 0 13px;">
                                                                        <h3
                                                                          style="font-size: 28px;float: left;font-weight: 700;margin-top: -10px;padding: 2px;color: #3c4247;background-color: #fff;display: table;">
                                                                          <%= data.sycu_build_elements_details[x].title
                                                                            %>
                                                                        </h3>
                                                                      </div>

                                                                      <%# For Section %>
                                                                        <% }else
                                                                          if(data.sycu_build_elements_details[x].build_elements_id==21)
                                                                          { %>
                                                                          <div class="box-header "
                                                                            style="background-color: #8b8b8b;padding: 8px 0; margin-bottom: 10px;">
                                                                            <h3
                                                                              style="margin:0; font-size: 24px; font-style:italic; font-weight: 400; text-align: center; color: #fff;">
                                                                              <%=
                                                                                data.sycu_build_elements_details[x].title
                                                                                %>
                                                                          </div>
                                                                          <br>

                                                                          <% }else { %>

                                                                            <div class="box"
                                                                              style=" padding: 20px;margin-top:10px;background-color: #fff; border-left: 22px solid;margin-bottom: 5px;">
                                                                              <div class="" style="width:100%;">
                                                                                <div class="box-title"
                                                                                  style="color: #2c3336; font-size: 18px; font-weight: 700; display: inline-block;">
                                                                                  <%=
                                                                                    data.sycu_build_elements_details[x].title
                                                                                    %>
                                                                                </div>
                                                                                <div class=""
                                                                                  style=" display: inline-block;float:right;">

                                                                                </div>
                                                                              </div>
                                                                              <p>
                                                                                <%-
                                                                                  data.sycu_build_elements_details[x].content
                                                                                  %>
                                                                              </p>
                                                                            </div>
                                                                            <% } %>
                                                                              <% } %>
  </div>
</body>

</html>